
:root {
    --lightblue: rgb(88, 171, 204);
    --darkblue: rgb(30, 50, 230);
}

header {
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: var(--lightblue);
    border: solid 2px black;
}

/* For Search Bar */

#searchBarDiv {
    padding-top: 4%;
    padding-bottom: 4%;    
}

#searchBar {
    width: 10%;
    margin-left: 43%;
}

/* For Main Content Div/Grid */

#recentSearchDiv {
    background-color: var(--darkblue);
}

#weatherDisplayDiv {
    background-color: var(--lightblue);
}