
:root {
    --lightblue: rgb(88, 171, 204);
    --darkblue: rgb(89, 104, 238);
}

header {
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: var(--lightblue);
    border: solid 2px black;
}

/* For Search Bar */

#searchBarDiv {
    padding-top: 4%;
    padding-bottom: 4%;    
    text-align: center;
}


/* For Main Content Div/Grid */

/* Local Storage */

#recentSearchDiv {
    background-color: var(--darkblue);
    padding: 1%;
    border: solid black;
    border-width: 2px 0px 2px 2px ;
}

/* Forecast and Weather Data */


#weatherDisplayDiv {
    background-color: var(--lightblue);
    padding: 1%;
    border: solid black;
    border-width: 2px 2px 2px 0px;
}

#currentWeatherDiv {
    width: 100%;
    margin-bottom: 7%;
}

#futureWeatherDiv {
    width: 100%;
    margin-top: 1%;
}

.heroCard {
    border: solid 2px black;
    margin-left: 1%;
    margin-bottom: 2%;
}

.heroCard h3 {
    text-align: center;
}